<div class= "container">
    <div class= "row">
      <div class="facilities-box">
      <h2>施設一覧</h2>
      <% if @facilities %>
       <%= render 'facility_list', facilities: @facilities %>
       <%= paginate @facilities, class: "paginate" %>
       <% else @q_facilities %>
       <%= render 'facility_list', facilities: @q_facilities %>
       <%= paginate @q_facilities, class: "paginate" %>
       <% end %>
      </div>
    </div>

</div>
