<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="thanks-box">
        <h4>キャンセル完了</h4>
          <p>キャンセル手続きが完了いたしました。<br>またのご利用お待ちしております。</p>
          <p><%= link_to 'トップに戻る', root_path %></p>
      </div>
    </div>
  </div>
</div>