<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="thanks-box">
        <h4>ご予約ありがとうございました!!</h4>
          <p>ご記入いただいた内容は無事送信されました。<br>当日お気をつけてお越し下さいませ。</p>
          <p><%= link_to 'トップに戻る', root_path %></p>
      </div>
    </div>
  </div>
</div>