<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>お知らせ詳細</h2>
    </div>
  </div>
  <div class="row">
    <h3>内容</h3>
      <div class="information-box">
        <div class="information-main"><%= @information.title %></div>
        <div class="information-datetime"><%= @information.created_at.strftime("%Y年%m月%d日")%></div>
        <div class="information-content"> <%= @information.body %></div>
      </div>
      <%= link_to "戻る" , :back,class:"btn btn-primary show"%>
  </div>
</div>