<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>紹介</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-5">
      <h3>スクスペとは？</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-5 col-xs-offset-1">
      <div class="about-box">
        <h4>気軽に予約できます！</h4>
          <p class="about-text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="about-box">
        <h4>気軽に予約できます！</h4>
          <p class="about-text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-5 col-xs-offset-1">
      <div class="about-box">
        <h4>気軽に予約できます！</h4>
          <p class="about-text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="about-box">
        <h4>気軽に予約できます！</h4>
          <p class="about-text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-5">
      <h3>お問い合わせ</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-5">
      <h4>Email</h4>
      <p>School-Space@example.co.jp</p>
      <h4>電話番号</h4>
      <p>010-1111-1111</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-5">
      <h3>よくあるご質問</h3>
    </div>
  </div>
</div>