<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>紹介</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-5">
      <h3>スクスペとは？</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-5 col-xs-offset-1">
    <div class="about-box">
        <h4><i class="fas fa-calendar-week"></i>学校施設の予約サイト</h4>
          <p class="about-text">施設を選んで時間とご利用人数を予約するだけ！<br>施設の空き具合も<strong>カレンダー</strong>を見て<br>確認できます。<br>人が多くて利用できなかった。。行ったけど閉まってた。。なんてことがありません！</p>
      </div>
    </div>
    <div class="col-xs-5">
    <div class="about-box">
        <h4><i class="fas fa-school"></i>「学校開放」の現状</h4>
          <p class="about-text">学校体育施設の開放率は<strong>94.9％</strong>（2017年度実績）<br>(引用：スポーツ庁/平成３０年度体育・スポーツ施設現況調査結果)<br>みなさんの近くにある学校は、生徒が利用していない平日の夜や休日に学校の施設を開放しています。</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-5 col-xs-offset-1">
      <div class="about-box">
        <h4><i class="far fa-lightbulb"></i>こんな人にオススメ</h4>
          <p class="about-text">運動したいけどジムが遠くて中々行けない。。。<br>タダでちょこっとだけ運動したい。。。<br>ぜひお近くの学校で運動してみては！<br>事前に予約いただくことで<strong>当日すぐ</strong>施設をご利用できます！</p>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="about-box">
        <h4><i class="fas fa-users"></i>地域活性化に向けて</h4>
          <p class="about-text">今後スポーツのご利用だけでなく、学校と連携して<br>イベントやレクリエーションの予約も行えたらと考えています。<br><strong>「学校空間（スクスペ）」</strong>が地域活性化に少しでも繋がることができれば幸いです。</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-5">
      <h3>お問い合わせ</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
    <div class="contact-box">
      <h4>Email</h4>
      <p class="contact-text">School-Space@example.co.jp</p>
      <h4>電話番号</h4>
      <p class="contact-text">010-1111-1111</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <h3>よくあるご質問</h3>
      <div class="contact-box">
      <h4>Q.お金はかかりますか？</h4>
      <p>A.無料でご利用いただけます。</p>
      </div>
      <div class="contact-box">
      <h4>Q.用具は施設にありますか？</h4>
      <p>A.施設、または使用コートの紹介文に用具の有無が明記してあります。<br>※数に限りがありますのでご了承ください。</p>
      </div>
      <div class="contact-box">
      <h4>Q.予約後、キャンセルするにはどうすればいいですか？</h4>
      <p>A.「マイページ」＞「予約一覧」＞「予約詳細」に移っていただくと、予約状況をキャンセルできます。</p>
      </div>
      <div class="contact-box">
      <h4>Q.予約後、キャンセルはいつまでに行えばいいですか？</h4>
      <p>A.ご利用日1日前まではネットでのキャンセル可としています。<br>当日キャンセルされる場合は、恐れ入りますがご利用施設へ直接お電話ください。</p>
      </div>
    </div>
  </div>
</div>