/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar
 *= require_tree .
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 * {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'M PLUS 1p', sans-serif;
 }
 
 .clearfix::after {
	content: "";
	display: block;
	clear: both;
}

 //header
 a {
   color:#333333;
 }
 .navbar-brand >p {
   text-align: center;
 }
.form-inline {
  margin: 20px 0;
}

.navbar-text {
  margin:25px 0;
}
/* --- ハンバーガーアイコン --- */
 
 
#hm-icon{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}
 
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
 
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
 
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
 
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
 
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
 
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
 
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #6c6b6b;
}
 
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
 
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #6c6b6b;
}

#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background:#fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}
 
#sp-menu li{
  text-align: center;
  margin: 30px auto;
}
 
#sp-menu a{
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}
 //body
 body {
  background-color: #FCFBF8;
 }

 .container {
	width: 950px;
	margin-bottom: 60px;
}

//見出し
.col-xs-12 {
  padding: 0;
}
h2 {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #FFFFFF;/*背景色*/
  border-left: solid 5px #7db4e6;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
}

h3 {
  color: black;
  border-left: solid 4px orange;/*左側の線*/
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1;
  padding: 0.5em;
  margin-bottom: 10px;
}
 tr:hover {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1600em);
}
//テーブル
.table {
  border:solid 2px gray;
  margin-top: 20px;
}
 th {
  font-size: 15px;
}

.event-heading {
  font-size: 20px;
  margin:10px 0;
}

.border {
  border-bottom:solid 2px gray;
  background-color: #FFF5BF;
}
//フッター
 footer{
	background-color:#FFFFFF;
	height:60px;
	position:fixed;
	bottom:0;
  width:100%;
  border-top: solid 2px #E7E7E7;
}
footer p {
  text-align: center;
  line-height: 60px;
  font-size: 20px;
}
//ボタン
.btn-primary {
  background-color: #4da6ff;
}

//ページネーション
.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #4da6ff;
  border-radius: 15px;
}
.pagination>li>a:hover {
  border-radius: 15px;
}

//カレンダー
.fc-left > h2 {
  color: black;
  font-size: 24px;
  border-left: solid 4px orange;/*左側の線*/
  background: none;/*背景色*/
  border-bottom: none;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1;
  padding: 0.5em;
}

.note {
  font-size: 18px;
}
.under-bule {
  color: blue;
  text-decoration : underline;
}

.under-red {
  color: red;
  text-decoration : underline;
}
.fc-view {
  background-color: #FFFFFF;
}
.fc-sun {
  color:#333333;
  background-color:rgba(255,0,0,0.1);
}
.fc-sat {
  color:#333333;
  background-color:rgba(0,0,255,0.1);
}