/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar
 *= require_tree .
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 * {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'M PLUS 1p', sans-serif;
 }
 //header
 a {
   color:#333333;
 }
 //body
 body {
  background-color: #FCFBF8;
 }

 .container {
	width: 950px;
	margin-bottom: 60px;
}

//見出し
.col-xs-12 {
  padding: 0;
}
h2 {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #7db4e6;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}

h3 {
  color: black;
  border-left: solid 4px orange;/*左側の線*/
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1;
  padding: 0.5em;
  margin-bottom: 10px;
}
 tr:hover {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1600em);
}
//テーブル
.table {
  border:solid 2px gray;
  margin-top: 20px;
}
 th {
  font-size: 15px;
}

.event-heading {
  font-size: 20px;
  margin:10px 0;
}

.border {
  border-bottom:solid 2px gray;
  background-color: #FFF5BF;
}
//フッター
 footer{
	background-color:#FFFFFF;
	height:60px;
	position:fixed;
	bottom:0;
  width:100%;
  border-top: solid 2px #E7E7E7;
}
footer p {
  text-align: center;
  line-height: 60px;
  font-size: 20px;
}
//ボタン
.btn-primary {
  background-color: #4da6ff;
}

//ページネーション
.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #4da6ff;
  border-radius: 15px;
}
.pagination>li>a:hover {
  border-radius: 15px;
}

//カレンダー
.fc-left > h2 {
  color: black;
  font-size: 24px;
  border-left: solid 4px orange;/*左側の線*/
  background: none;/*背景色*/
  border-bottom: none;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1;
  padding: 0.5em;
}
$title:"予約済";
$title:"キャンセル済";
.fc-event-container> a {
  @if $title =="予約済" {
    background-color:#4169e1;
  }
  @else if $title == "キャンセル済" {
  background-color:#dc143c;
}
}
.note {
  font-size: 18px;
}
.under-bule {
  color: blue;
  text-decoration : underline;
}

.under-red {
  color: red;
  text-decoration : underline;
}
.fc-view {
  background-color: #FFFFFF;
}
.fc-sun {
  color:#333333;
  background-color:rgba(255,0,0,0.1);
}
.fc-sat {
  color:#333333;
  background-color:rgba(0,0,255,0.1);
}