/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar
 *= require_tree .
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 * {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'M PLUS 1p', sans-serif;
 }
.naver {
  color:#F8F8F8;
}
 body {
  background-color: #FAFAFA;
 }

 .container {
	width: 950px;
	margin: 0 auto;
}

h2 {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
}
 footer{
	background-color:#F8F8F8;
	height:60px;
	position:fixed;
	bottom:0;
  width:100%;
  border-top: solid 2px #E7E7E7;
}
footer p {
  text-align: center;
  line-height: 60px;
  font-size: 20px;
}