// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//予約一覧、詳細テーブル
.table {
  border:solid 2px gray;
  margin-top: 20px;
}
 th {
  font-size: 15px;
}

.event-heading {
  font-size: 20px;
  margin:10px 0;
}
