// Place all the styles related to the facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//施設一覧
.facility-area {
  display:inline-block;
  float:left;
  margin: 20px 10px 20px 0;
  background-color: #ffffff;
  border: 3px solid #ffffff;
  box-shadow: 2px 2px 4px gray;
	transition: all 0.3s ease 0s;
}

.facility-area:hover,.sidebar-title:hover,.content:hover {
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

.clearfix >.facility-area:nth-child(3),.facility-area:nth-child(6) {
  margin-right: 0;
}


.facility-heading {
  color: black;
  border-left: solid 8px orange;/*左側の線*/
  background: whitesmoke;/*背景色*/
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
  padding: 0.5em;
}
li {
  color: black;
  list-style: none;
  padding-top: 5px;
}
//施設詳細
.table {
  background-color: #ffffff;
}

.img {
  height:316px;
  width:400px;
  box-shadow: 2px 2px 4px gray;
}
.sidebar {
  margin-top: 20px;
}

.sidebar-title {
  color: black;
  border-left: solid 8px orange;/*左側の線*/
  background-color: #ffffff;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 3.0;
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
  padding: 0.5em;
  transition: all 0.3s ease 0s;
}
//コート一覧
.sub-facility-box {
  margin-top: 20px;
  width: 680px;
  border: 3px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px gray;
}

.content {
	display: flex;
	padding: 20px;
  box-sizing: border-box;
  height: 200px;
  transition: all 0.3s ease 0s;
}
.sub-facility-img {
		margin-right: 20px;
		width: 160px;
		height: 160px;
}
img {
			min-width: 150px;
			max-width: 150%;
			vertical-align: top;
}
