// Place all the styles related to the facility_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#comments {
  background-color: #ffffff;
  border:solid 1px gray;
  margin-bottom: 10px;
}
.comment-btn {
  text-align: right;
}
.comment-title {
  font-weight: bold;
}