// Place all the styles related to the facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.facility-area {
  display:inline-block;
  float:left;
  padding-right:30px;
  padding: 20px 0 20px 30px;
}