<% facility_comments.each do |facility_comment| %>
  <div id="facility_comment-<%= facility_comment.id %>">
    <div id="comments">
      <div class="comment-title">
        <td>スクスペユーザー</td>
      </div>
      <p class="comment-text">
        <td><%= facility_comment.comment %></td>
      </p>
      <p class="comment-date">
        <td><%= facility_comment.created_at.strftime("%Y年%m月%d日") %></td>
      </p>
      <div class="comment-btn">
        <% if facility_comment.customer == current_customer %>
          <td><%= link_to 'Destroy', facility_facility_comments_path(facility_comment), class: 'btn btn-danger', method: :delete, remote: true %></td>
        <% end %>
      </div>
    </div>
</div>
<% end %>
