<div id="sp-menu">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Message</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>